<mat-card class="cart-item-card">
  <div class="item-text">
    <p class="mat-title">{{ product.name }}</p>
    <p>{{ product.price | currency }}</p>
  </div>
  <mat-card-actions>
    <p>{{ count }}</p>
    <div>
      <button mat-mini-fab (click)="onQuantityIncrease()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab [disabled]="count < 2" (click)="onQuantityDecrease()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  
  <mat-card-actions>
    <button mat-icon-button (click)="onDeleteItem()">
      <mat-icon>clear</mat-icon>
    </button>  
    <p>{{ count * product.price | currency }}</p>
  </mat-card-actions>

</mat-card>
