<mat-card class="cart-item-card">
  <div>
    <div style="display: flex;">
      <p class="mat-title">{{ product.name }}</p> / <p>{{ product.price | currency }}</p> 
    </div>
    <div>
      <div style="display: flex; align-items: center;">
        <h2>{{ count }}</h2>       
        <button mat-icon-button (click)="onQuantityIncrease()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button [disabled]="count < 2" (click)="onQuantityDecrease()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <p>Total: {{ count * product.price | currency }}</p>
  </div>
  <button mat-icon-button (click)="onDeleteItem()">
    <mat-icon>clear</mat-icon>
  </button>  
</mat-card>
