<div class="cart-container">
  <div *ngIf="cartService.isEmpty$ | async; else elseBlock">
    <p>
      Shopping Cart is empty
    </p>
  </div>
  <ng-template #elseBlock>
    <ng-container *ngFor="let item of cartService.cartProducts$ | async; trackBy: trackByProduct">
      <div class="cart-item">
        <app-cart-item
          [cartItem]="item"
          (quantityIncrease)="onAddProduct($event)"
          (quantityDecrease)="onRemoveProduct($event)"
          (deleteItem)="onDeleteProduct($event)"
        ></app-cart-item>
      </div>
    </ng-container>
    <div class="cart-footer">
      <p class="mat-title">Total quantity: {{ cartService.totalQuantity$ | async }}</p>
      <p class="mat-title">Total cost: {{ cartService.totalCost$ | async | currency }}</p>
    </div>
  </ng-template>
</div>
